body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  color: #fff;
  background: #111;
}

#root {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
}

td, tr, table {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 5px;
}

td {
  border: 1px solid #111;
  width: 100px;
  height: 100px;
  background: #000;
}

td:hover {
  border-color: #fff;
}

.boardHeader, .boardFooter {
  text-align: center;
}

span.player {
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
}

.playerX {
  color: #f00;
}

.playerO {
  color: #ff0;
}
