body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  color: #fff;
  background: rgb(46, 46, 46);
}

::selection {
  background: #63003a;
}

#root {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
}

td, tr, table {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 5px;
}

td {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 1);
  border-radius: 10px;
}

td:hover {
  background: rgba(10, 10, 10, 1);
  border-color: #222;
  cursor: pointer;
}

.boardHeader, .boardFooter {
  text-align: center;
  line-height: 30px;
  height: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.banner {
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 1px 2px #000;
  font-weight: bold;
}

span.player, .arrow {
  font-size: 25px;
  font-weight: 400;
  vertical-align: top;
}

.arrow {
  font-size: 15px;
  color: #fff;
  margin: 0 5px 0 5px;
}

td.player {
  text-align: center;
font-size: 60px;
}

td.highlight {
  background: #034b03;
  box-shadow: 0px 0px 12px #529e52;
}

.playerX {
  color: #f00;
}

.playerO {
  color: #ff0;
}

.newGame {
  font-size: 16px;
  background: rgba(15, 90, 15, 1);
  border: 1px solid rgb(3, 53, 3);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.newGame:hover {
  background: rgba(5, 65, 5, 1);
}

.playerStatus {
  opacity: 0.1;
}

.playerStatus.active {
  opacity: 1;
}

.active > .arrow {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

@media (max-width: 640px) {
  img {
    display: none;
  }
}
